@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* background-image: url("./images/lastofus.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  @apply bg-(--site_bg_lt) dark:bg-(--site_bg_dt) text-(--text_lt) dark:text-(--text_dt);
}

button {
  cursor: pointer;
}

input {
  @apply outline-0 w-full;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --primary_color: #3478f6;
  /* site */
  --site_bg_lt: #f1f1f1;
  --site_bg_dt: #111111;

  /* text colors */
  --text_lt: #111;
  --text_dt: #f1f1f1;
  --text_muted_lt: #444;
  --text_muted_dt: #ccc;

  /* ui */
  --ui_bg_lt: #ffffff;
  --ui_bg_dt: #1d2125;
  --ui_muted_bg_lt: #f1f1f1;
  --ui_muted_bg_dt: #292f34;
  --ui_border_color_lt: #11111120;
  --ui_border_color_dt: #ffffff10;
  --ui_radius: 2px;

  /* buttons */
  --button_normal_bg_lt: #11111115;
  --button_normal_bg_dt: #ffffff10;

  --button_normal_hover_bg_lt: #11111125;
  --button_normal_hover_bg_dt: #ffffff20;

  --button_normal_text_lt: #111111;
  --button_normal_text_dt: #ffffff;

  --button_normal_selected_bg_lt: #11111130;
  --button_normal_selected_bg_dt: #ffffff30;

  /* logged in navigation bar */
  --nav_height: 56px;

  /* side bar */
  --sideBar_button_hover_bg_lt: #ffffff10;
  --sideBar_button_hover_bg_dt: #ffffff20;
  --sideBar_height: calc(100dvh - 56px);
  --sideBar_width: 300px;
}
