@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  @apply bg-(--siteBgLightTheme) dark:bg-(--siteBgDarkTheme) text-(--textLightTheme) dark:text-(--textDarkTheme);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --siteBgLightTheme: #f4f7fd;
  --textLightTheme: #000;
  --textMutedLightTheme: #828fa3;
  --uiBgLightTheme: #fff;
  --uiMutedBgLightTheme: #f4f7fd;
  --borderColorLightTheme: #e4ebfa;
  --sideBarButtonHoverBgLightTheme: #635fc720;

  --siteBgDarkTheme: #20212c;
  --textDarkTheme: #fff;
  --textMutedDarkTheme: #828fa3;
  --uiBgDarkTheme: #2b2c37;
  --uiMutedBgDarkTheme: #20212c;
  --borderColorDarkTheme: #3e3f4e;
  --sideBarButtonHoverBgDarkTheme: #ffffff;

  --primaryColor: #635fc7;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    display: none;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    display: none;
  }
  100% {
    transform: translateX(0);
  }
}
