@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  @apply bg-(--siteBgLightTheme) dark:bg-(--siteBgDarkTheme) text-(--textLightTheme) dark:text-(--textDarkTheme);
}

button {
  cursor: pointer;
}

input {
  @apply outline-0 w-full;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light Theme */
  --siteBgLightTheme: #f4f7fd;

  --textLightTheme: #000;
  --textMutedLightTheme: #828fa3;

  --uiBgLightTheme: #fff;
  --uiMutedBgLightTheme: #f4f7fd;

  --borderColorLightTheme: #e4ebfa;

  --sideBarButtonHoverBgLightTheme: #635fc720;

  --buttonBgLightTheme: var(--veryFadedPrimaryColor);
  --buttonHoverBgLightTheme: var(--fadedPrimaryColor);
  --buttonTextLightTheme: var(--primaryColor);

  /* Dark Theme */
  --siteBgDarkTheme: #20212c;

  --textDarkTheme: #fff;
  --textMutedDarkTheme: #828fa3;

  --uiBgDarkTheme: #2b2c37;
  --uiMutedBgDarkTheme: #20212c;

  --borderColorDarkTheme: #3e3f4e;

  --sideBarButtonHoverBgDarkTheme: #ffffff;

  --buttonBgDarkTheme: #fff;
  --buttonHoverBgDarkTheme: #fff;
  --buttonTextDarkTheme: var(--primaryColor);

  /* Colors */
  --primaryColor: #635fc7;
  --fadedPrimaryColor: #635fc725;
  --veryFadedPrimaryColor: #635fc710;

  /* Border Radius */
  --uiRadius: 4px;
  --buttonRadius: 4px;
}
